<!DOCTYPE html>
<html>
<head>
  <title>Directories: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :defaults %>
  <%= raw chartr_includes %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="centered-page">
	
<p class="notice"><%= notice %></p>

<div class="masthead bottom-border">
	<h1 class="bottom left">WADRC Imaging Core Wall of Shame</h1>
	<p class="bottom right">
		<a href="http://hobbes">WADRC Intranet</a>
	</p>
</div>

<%= yield %>



</div>

</body>
</html>